.App {
  text-align: flex-end;
  direction: rtl;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}


input {
  font-family: Arial, sans-serif;

}
p,h2 {
  margin: 0;
}

/* Media Queries for Responsive Adjustments */
@media (max-width: 1200px) {
  .container {
    max-width: 95%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
}